<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Bruno Bandeira">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

      <p>
        Hello, my name is Bruno Bandeira and I am passionate about games and programming.  
      </p>
      <p>
        I live happily because I have reunited my two passions. I am part of a team that works maintaining and developing a platform focused on the electronic gaming community called <a href="https://gamersclub.com.br" target="_blank">Gamers Club</a>.
      </p>

      </div>

      <footer>

        <p>
          If you want to meet me, these are my social networks, <a href="https://github.com/{{ site.github }}" target="_blank">GitHub</a>, <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">Linkedin</a> and <a href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a>.
          Or send me an <a href="mailto:{{ site.author.email }}?Subject=Hello,%20Bruno!">email</a>.
        </p>

      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>

  </div>
  </body>
</html>
